@model AccountModel

<div class="setData text-center" xmlns="http://www.w3.org/1999/html">
    <form asp-controller="Account" asp-action="Save" method="post">
        項目
        @Html.TextBoxFor(x => x.Remark)
        <p style="margin-left: 3px;">@Html.ValidationMessageFor(x=>x.Remark)</p>
        <br/>

        金額
        <input asp-for="Amount" data-val="true" />
        <p style="margin-left: 3px;">@Html.ValidationMessageFor(x=>x.Amount)</p>
        <br/>

        日期
        <input asp-for="CreateTime" value=""/>
        <p style="margin-left: 3px;">@Html.ValidationMessageFor(x=>x.CreateTime)</p>
        <br/>

        <button>submit</button>
        @Html.ValidationSummary()
    </form>
</div>